# Compiled output
/target/

# Rust/Cargo specific files
**/*.rs.bk
Cargo.lock

# IDEs and editors
# IntelliJ
.idea/
*.iml

# Visual Studio Code
.vscode/
*.code-workspace

# Eclipse
.project
.cproject
.settings/
*.launch

# Sublime Text
*.sublime-project
*.sublime-workspace

# Vim
*.swp
*.swo
*.swn
.session

# E
